In [1]:
4%3

1

In [2]:
5%2

1

In [3]:
5%2

1

In [4]:
#Strings

In [5]:
'This is a string'

'This is a string'

In [6]:
"How!"

'How!'

In [7]:
"I can't go"

"I can't go"

In [8]:
x='hello'

In [9]:
x

'hello'

In [10]:
print(x)

hello

In [11]:
num=12
name="Sam"

In [13]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [14]:
print('My number is {three} and my name is {two}'.format(two=12,three='Sam'))

My number is Sam and my name is 12

In [15]:
s="hello"

In [16]:
s[0]

'h'

In [17]:
s[-1]

'o'

In [18]:
s='abcdefghijk'

In [19]:
s[0:3]

'abc'

In [20]:
s[3:]

'defghijk'

In [21]:
s[:3]

'abc'

In [22]:
['a','b','c']

['a', 'b', 'c']

In [23]:
my_list=['d','e','f']

In [24]:
my_list.append('d')

In [25]:
my_list

['d', 'e', 'f', 'd']

In [26]:
nest=[1,2,my_list]

In [27]:
nest

[1, 2, ['d', 'e', 'f', 'd']]

In [28]:
nest[2][-1]

'd'

In [29]:
# Dictionaries

In [31]:
dic={'Name':'Ahmed','List':[13,3,1990]}

In [32]:
list=dic['List']

In [33]:
list

[13, 3, 1990]

In [35]:
dic['Name']

'Ahmed'

In [36]:
dic={'Name':'Ahmed','List':[13,3,1990],'Degree':{'BSc':2013,'Msc':2018}}

In [37]:
dic['Degree']['BSc']

2013

In [38]:
True

True

In [39]:
False

False

In [40]:
#Tuple

In [41]:
t=(1,2,3)

In [42]:
t[0]

1

In [43]:
#For a tuple you cannot change the items inside

In [44]:
t[0]=4

TypeError: 'tuple' object does not support item assignment

In [45]:
#Sets (Uniques elements)

In [46]:
{1,3,3,3,3,5,5,5,5,5,5,11,1,1,1,1,1,1}

{1, 3, 5, 11}

In [49]:
s=set([1,2,5,5,5,5,5,5,5,3,3,3,2,1,1,2,5,4,])

In [51]:
s.add(11)

In [52]:
s

{1, 2, 3, 4, 5, 11}

In [53]:
5<6

True

In [54]:
5<0

False

In [55]:
1==2

False

In [56]:
1 != 3

True

In [58]:
1<2 and 0==0

True

In [59]:
1==1 or 3<1

True

In [60]:
(1<3) or (1==8)

True

In [61]:
True and False

False

In [67]:
a=[1,2,3,4,5]
for i in range(5):
    if a[i]>3:
        print(a[i])
    elif a[i]<2:
        print('Less than two')
    else:
        print('Others')

Less than two
Others
Others
4
5

In [69]:
kk=1
while kk<=8:
    print('K is equal to {}'.format(kk))
    kk=kk+1

K is equal to 1
K is equal to 2
K is equal to 3
K is equal to 4
K is equal to 5
K is equal to 6
K is equal to 7
K is equal to 8

In [70]:
x=range(0,5)

In [71]:
x

range(0, 5)

In [72]:
list(range(8))

TypeError: 'list' object is not callable

In [73]:
range(8)

range(0, 8)

In [77]:
x=[1,3,5,7]
out=[]

for num in x:
    out.append(num**2)
print(out)

[1, 9, 25, 49]

In [78]:
[num**2 for num in x]

[1, 9, 25, 49]

In [79]:
[1 for i in range(8)]

[1, 1, 1, 1, 1, 1, 1, 1]

In [84]:
def ahmhmdf(a='Default value'):
    print('Ahmed is {}'.format(a))

In [82]:
ahmhmdf('Ahhhh')

Ahmed is Ahhhh

In [83]:
'Hello'+'Ahmed'

'HelloAhmed'

In [86]:
ahmhmdf()

Ahmed is Default value

In [98]:
def cubic(num):
    """
    This function is long
    This is a documentation string
    """   
    return num**3

In [94]:
b=cubic(9)

In [95]:
b

729

In [90]:
print(cubic(2))

8

In [97]:
list

In [99]:
#map

In [100]:
map(cubic,[1,2,3,4,5])

In [107]:
list[map(cubic,[1,2,3,4,5])]

TypeError: list indices must be integers or slices, not map

In [108]:
list

[13, 3, 1990]

In [109]:
del list

In [111]:
list(map(cubic,[1,2,3,4,5]))

[1, 8, 27, 64, 125]

In [112]:
list(map(cubic,range(6)))

[0, 1, 8, 27, 64, 125]

In [113]:
tt=lambda var:var**4

In [114]:
tt(2)

16

In [115]:
list(map(lambda var:2*var+1,range(7)))

[1, 3, 5, 7, 9, 11, 13]

In [116]:
#filter

In [125]:
list(filter(lambda num:num%2==0,[1,3,5,7,8,9,10,11,12]))

[8, 10, 12]

In [ ]:
#Methods

In [118]:
S='My name is Ahmed'

In [119]:
S.lower()

'my name is ahmed'

In [120]:
S.split()

['My', 'name', 'is', 'Ahmed']

In [122]:
S='Trump Sucks! #USA'

In [123]:
S.split('#')

['Trump Sucks! ', 'USA']

In [126]:
#Methods for dictionaries

In [127]:
AhmDic={'Name':'Ahmed','Age':30}

In [128]:
AhmDic.keys()

dict_keys(['Name', 'Age'])

In [129]:
AhmDic['Name']

'Ahmed'

In [130]:
AhmDic.items()

dict_items([('Name', 'Ahmed'), ('Age', 30)])

In [132]:
AhmDic.values()

dict_values(['Ahmed', 30])

In [133]:
lst=[1,2,3]

In [135]:
lst.pop()

3

In [136]:
lst

[1, 2]

In [137]:
item=lst.pop()

In [138]:
item

2

In [139]:
lst=[1,2,3,4,5,6]

In [140]:
item=lst.pop(1)

In [141]:
item

2

In [142]:
lst

[1, 3, 4, 5, 6]

In [143]:
1 in [1,2,3]

True

In [144]:
5 in [4,3,2]

False

In [145]:
x=[(1,2),(3,4),(5,6)]

In [146]:
x[0][1]

2

In [147]:
for num in x:
    print(num)

(1, 2)
(3, 4)
(5, 6)

In [148]:
for (a,b) in x:
    print(a)

1
3
5

In [150]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [1]:
Ah='Ahmed'

In [2]:
Ah[0]

'A'